extends layouts/main

block content
    .book__file
        img(src=`/${book.fileUrl}`)
    .book__info
        a(href=routes.editBook(book.id)) Edit book
        h5.book__title=book.title
        span.book__views=book.recommended
        p.book__description=book.description 
    .book__comments
        if book.comments.length === 1
            span.book__comment-number 1 comment
        else
            span.book__comment-number #{book.comments.length} comments 