extends layouts/main

block content
    .book-detail__container
        .book__file
            img(src=book.fileUrl)
        .book__info
            if (loggedUser && book.creator.id === loggedUser.id)
                a(href=routes.editBook(book.id)) 
                    button Edit book
            h5.book__title=book.title
            p.book__description=book.description 
            if book.recommended === 1
                span.book__recommended 1 recommeded
            else 
                span.book__recommended #{book.recommended} recommended
            if book.views === 1
                span.book__views 1 view
            else 
                span.book__views #{book.views} views
            .book__author
                | Uploded by 
                a(href=routes.userDetail(book.creator.id))=book.creator.name
        .book__comments
            if book.comments.length === 1
                span.book__comment-number
                    span#jsCommentNumber 1
                    |  comment
            else
                span.book__comment-number
                    span#jsCommentNumber=book.comments.length
                    |  comments
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a comment")
            ul.book__comments-list#jsCommentList
                each comment in book.comments.reverse()
                    li
                        span=comment.text 